@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 225px;
}

.social_media_app-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

textarea::-webkit-scrollbar {
  width: 8px;
}
 
textarea::-webkit-scrollbar-thumb {
  background: #888; 
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; 
}